# Credit Risk Resampling Techniques

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

# Read the CSV and Perform Basic Data Cleaning

In [3]:
columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [4]:
file_path = Path('/Credit_Risk_Analysis/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)
df.head(10)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title                                emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose            title                   zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       20000     20000       20000            60 months  17.19%  499.1       C     C5        Front desk supervisor                    6 years    RENT           47000      Source Verified     Mar-2019 Issued      n          NaN NaN  debt_consolidation Debt consolidation      958xx    CA         14.02 0           Sep-2006         1              50                     NaN                    15       0       10687     19.7%      53        w                   20000.00  20000.00      0.0         0.00            0.00            0.00          0.0                0.0        0.0                     NaN          0.0             Apr-2019     Apr-2019           0                          50                          1           Individual       NaN              NaN       NaN                       0              0            31546       3           2           1           2           10                 20859        97      4           9           5909       42       54300            6      1           3            11                   2103        23647          30      0                        0           150                100                  1                     1              0        5                    NaN                      3                     50                             3                     3              4               8           19        19        13            33            4                   15       0                0            0                  5                  98             12.5             0                    0         75824           31546             33800          21524                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              21225     21225       21225            60 months  14.74%  502.05      C     C2        ceo                                      10+ years  MORTGAGE       225000     Not Verified        Mar-2019 Issued      n          NaN NaN  credit_card        Credit card refinancing 956xx    CA         16.8  0           Sep-1994         2              NaN                    110                    14       1       95868     87.7%      22        w                   21225.00  21225.00      0.0         0.00            0.00            0.00          0.0                0.0        0.0                     NaN          0.0             Apr-2019     Apr-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            694793      1           5           2           4           3                  113558       76      0           1           17353      84       109300           1      0           4            5                    49628       12635          76.4    0                        0           126                294                  24                    3              4        30                   NaN                      1                     NaN                            0                     4              6               4           4         11        7             7             6                   14       0                0            0                  2                  100            50               1                    0         747075          209426            53500          128175                     NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              5000      5000        5000             36 months  17.97%  180.69      D     D1        NaN                                      NaN        MORTGAGE       62000      Not Verified        Mar-2019 Issued      n          NaN NaN  home_improvement   Home improvement        320xx    FL         19.82 1           Nov-1987         0              4                      NaN                    8        0       7285      77.5%      18        w                   5000.00   5000.00       0.0         0.00            0.00            0.00          0.0                0.0        0.0                     NaN          0.0             Apr-2019     Apr-2019           0                          4                           1           Individual       NaN              NaN       NaN                       0              0            206639      0           1           0           0           33                 24330        NaN     1           3           2318       78       9400             0      0           0            3                    25830       2115           77.5    0                        0           187                376                  9                     9              2        9                    NaN                      NaN                   4                              3                     6              6               6           6         7         6             9             6                   8        0                0            1                  1                  66.7           50               0                    0         255738          31615             9400           39938                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              20000     20000       20000            36 months   8.19%  628.49      A     A4        Executive Director of Guardian Advantage 1 year     MORTGAGE       200000     Not Verified        Mar-2019 Issued      n          NaN NaN  credit_card        Credit card refinancing 190xx    PA         22.66 1           Oct-2001         0              18                     NaN                    20       0       20984     32.1%      49        w                   20000.00  20000.00      0.0         0.00            0.00            0.00          0.0                0.0        0.0                     NaN          0.0             Apr-2019     Apr-2019           0                          48                          1           Individual       NaN              NaN       NaN                       0              0            326678      2           5           1           3           4                  63760        61      2           3           5097       50       64400            1      5           0            6                    17194       30437          38.4    0                        0           162                209                  2                     2              1        2                    18                       21                    18                             1                     7              9               9           15        20        14            27            9                   20       0                0            0                  3                  95.7           22.2             0                    0         448069          84744             49400          105180                     NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              12000     12000       12000            60 months  15.57%  289.09      C     C3        Computer Operator                        5 years    MORTGAGE       49000      Source Verified     Mar-2019 Issued      n          NaN NaN  debt_consolidation Debt consolidation      152xx    PA         13.47 0           Apr-1993         0              38                     NaN                    18       0       17672     48.2%      36        w                   12000.00  12000.00      0.0         0.00            0.00            0.00          0.0                0.0        0.0                     NaN          0.0             Apr-2019     Apr-2019           0                          38                          1           Individual       NaN              NaN       NaN                       0              0            143079      2           4           0           0           51                 88353        128     4           6           3587       100      36700            0      8           1            6                    7949        14848          39.1    1                        0           144                311                  3                     3              5        3                    38                       11                    38                             4                     5              10              7           11        12        12            19            10                  18       0                0            0                  4                  86.1           14.3             0                    0         189260          106025            24400          68860                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              13500     13500       13500            36 months   7.56%  420.31      A     A3        Security officer                         8 years    RENT           34860      Not Verified        Mar-2019 Issued      n          NaN NaN  credit_card        Credit card refinancing 857xx    AZ         10.91 0           Oct-2003         1              NaN                    NaN                    9        0       9932      24.7%      11        w                   13500.00  13500.00      0.0         0.00            0.00            0.00          0.0                0.0        0.0                     NaN          0.0             Apr-2019     Apr-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            9932        1           0           0           0           NaN                0            NaN     1           3           3777       25       40200            0      0           1            3                    1104        16629          33.7    0                        0           NaN                185                  1                     1              0        22                   NaN                      1                     NaN                            0                     5              6               5           7         0         9             11            6                   9        0                0            0                  1                  100            0                0                    0         40200           9932              25100          0                          NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

Clean the df:

In [5]:
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100

In [6]:
# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [7]:
df['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

**Using these algorithms:**
1. resample the dataset
2. view the count of the target classes 
3. train a logistic regression classifier
4. calculate the balanced accuracy score
5. generate a confusion matrix
6. generate a classification report

# Split the Data into Training and Testing

In [8]:
# Create our features
X = df.drop(columns="loan_status", axis=1)
X = pd.get_dummies(X)

# Create our target
y = df['loan_status']

In [9]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [12]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [13]:
# Split train and test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

Counter(y_train)

Counter({'low_risk': 51366, 'high_risk': 246})

# Oversampling

In this section, you will compare two oversampling algorithms to determine which algorithm results in the best performance. You will oversample the data using the naive random oversampling algorithm and the SMOTE algorithm. For each algorithm, be sure to complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

### Naive Random Oversampling

In [14]:
# Resample the training data with the RandomOversampler
# implement random oversampling

from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=1)

X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

#Counter(y_resampled)

In [15]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)

model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [47]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred = model.predict(X_test)

cm = confusion_matrix(y_test, y_pred)

cm_df = pd.DataFrame(cm, index=["Actual High_Risk", "Actual Low_Risk"], columns=["Predicted High_Risk", "Predicted Low_Risk"])
cm_df

                  Predicted High_Risk  Predicted Low_Risk
Actual High_Risk                   73                  28
Actual Low_Risk                  6664               10440

In [17]:
# Calculated the balanced accuracy score

from sklearn.metrics import balanced_accuracy_score

print(f"Balanced Accuracy Score: {balanced_accuracy_score(y_test, y_pred)}")

Balanced Accuracy Score: 0.6547385707934685

In [18]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print("Classification Report Imbalanced:")
print(classification_report_imbalanced(y_test, y_pred))

Classification Report Imbalanced:
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.72      0.59      0.02      0.65      0.43       101
   low_risk       1.00      0.59      0.72      0.74      0.65      0.42     17104

avg / total       0.99      0.59      0.72      0.73      0.65      0.42     17205

In [50]:
print("Confusion Matrix")
display(confusion_matrix(y_test, y_pred))
print("------------------------------------------------------")
print(f"Balanced Accuracy Score: {balanced_accuracy_score(y_test, y_pred)}")
print("------------------------------------------------------")
print("Classification Report Imbalanced:")
print(classification_report_imbalanced(y_test, y_pred))

Confusion Matrix

array([[   73,    28],
       [ 6664, 10440]])

------------------------------------------------------
Balanced Accuracy Score: 0.6665779066213451
------------------------------------------------------
Classification Report Imbalanced:
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.72      0.61      0.02      0.66      0.45       101
   low_risk       1.00      0.61      0.72      0.76      0.66      0.44     17104

avg / total       0.99      0.61      0.72      0.75      0.66      0.44     17205

### SMOTE Oversampling

In [51]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE

X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(X_train, y_train)

Counter(y_resampled)

Counter({'low_risk': 51366, 'high_risk': 51366})

In [52]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [53]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)

print(f"Balanced Accuracy Score: {balanced_accuracy_score(y_test, y_pred)}")

Balanced Accuracy Score: 0.66201409663885

In [54]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   64,    37],
       [ 5296, 11808]])

In [55]:
# Print the imbalanced classification report

print("Classification Report Imbalanced:")
print(classification_report_imbalanced(y_test, y_pred))

Classification Report Imbalanced:
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.63      0.69      0.02      0.66      0.43       101
   low_risk       1.00      0.69      0.63      0.82      0.66      0.44     17104

avg / total       0.99      0.69      0.63      0.81      0.66      0.44     17205

In [56]:
print("Confusion Matrix")
display(confusion_matrix(y_test, y_pred))
print("------------------------------------------------------")
print(f"Balanced Accuracy Score: {balanced_accuracy_score(y_test, y_pred)}")
print("------------------------------------------------------")
print("Classification Report Imbalanced:")
print(classification_report_imbalanced(y_test, y_pred))

Confusion Matrix

array([[   64,    37],
       [ 5296, 11808]])

------------------------------------------------------
Balanced Accuracy Score: 0.66201409663885
------------------------------------------------------
Classification Report Imbalanced:
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.63      0.69      0.02      0.66      0.43       101
   low_risk       1.00      0.69      0.63      0.82      0.66      0.44     17104

avg / total       0.99      0.69      0.63      0.81      0.66      0.44     17205

# Undersampling

In this section, you will test an undersampling algorithms to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [57]:
# Resample the data using the ClusterCentroids resampler
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.under_sampling import ClusterCentroids

cc = ClusterCentroids(random_state=1)

X_resampled, y_resampled = cc.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'high_risk': 246, 'low_risk': 246})

In [58]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)

model.fit(X_resampled, y_resampled)

y_pred = model.predict(X_test)

In [59]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

print(f"Balanced Accuracy Score: {balanced_accuracy_score(y_test, y_pred)}")

Balanced Accuracy Score: 0.5447339051023905

In [60]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

array([[   70,    31],
       [10324,  6780]])

In [61]:
# Print the imbalanced classification report
print("Classification Report Imbalanced:")
print(classification_report_imbalanced(y_test, y_pred))

Classification Report Imbalanced:
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.69      0.40      0.01      0.52      0.28       101
   low_risk       1.00      0.40      0.69      0.57      0.52      0.27     17104

avg / total       0.99      0.40      0.69      0.56      0.52      0.27     17205

In [62]:
print("Confusion Matrix")
display(confusion_matrix(y_test, y_pred))
print("------------------------------------------------------")
print(f"Balanced Accuracy Score: {balanced_accuracy_score(y_test, y_pred)}")
print("------------------------------------------------------")
print("Classification Report Imbalanced:")
print(classification_report_imbalanced(y_test, y_pred))

Confusion Matrix

array([[   70,    31],
       [10324,  6780]])

------------------------------------------------------
Balanced Accuracy Score: 0.5447339051023905
------------------------------------------------------
Classification Report Imbalanced:
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.69      0.40      0.01      0.52      0.28       101
   low_risk       1.00      0.40      0.69      0.57      0.52      0.27     17104

avg / total       0.99      0.40      0.69      0.56      0.52      0.27     17205

In [29]:
# Deliverable 2

# Combination (Over and Under) Sampling

In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [63]:
# Resample the training data with SMOTEENN
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.combine import SMOTEENN

smote_enn = SMOTEENN(random_state=1)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)

Counter(y_resampled)

Counter({'high_risk': 68458, 'low_risk': 62022})

In [70]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)

model.fit(X_resampled, y_resampled)
y_pred = model.predict(X_test)

In [72]:
# Calculated the balanced accuracy score

print(f"Balanced Accuracy Score: {balanced_accuracy_score(y_test, y_pred)}")

Balanced Accuracy Score: 0.6665779066213451

In [73]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   73,    28],
       [ 6664, 10440]])

In [74]:
# Print the imbalanced classification report
print("Classification Report Imbalanced:")
print(classification_report_imbalanced(y_test, y_pred))

Classification Report Imbalanced:
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.72      0.61      0.02      0.66      0.45       101
   low_risk       1.00      0.61      0.72      0.76      0.66      0.44     17104

avg / total       0.99      0.61      0.72      0.75      0.66      0.44     17205

In [75]:
print("Confusion Matrix")
display(confusion_matrix(y_test, y_pred))
print("------------------------------------------------------")
print(f"Balanced Accuracy Score: {balanced_accuracy_score(y_test, y_pred)}")
print("------------------------------------------------------")
print("Classification Report Imbalanced:")
print(classification_report_imbalanced(y_test, y_pred))

Confusion Matrix

array([[   73,    28],
       [ 6664, 10440]])

------------------------------------------------------
Balanced Accuracy Score: 0.6665779066213451
------------------------------------------------------
Classification Report Imbalanced:
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.72      0.61      0.02      0.66      0.45       101
   low_risk       1.00      0.61      0.72      0.76      0.66      0.44     17104

avg / total       0.99      0.61      0.72      0.75      0.66      0.44     17205